<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Showing the post accorgin to id</h1>
    <h3>Post Id : <%= post.id %></h3>
    <div class="post">
        <h3>User Name : <%= post.username %></h3>
        <h3>Contant : <%= post.contant %></h3>
    </div>

</body>
</html>