<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_page</title>
</head>
<body>
    <h1> EJS file is working 2 + 3</h1>
    <h2><%= 2+3 %></h2>
    <h4><%= "rahul_kumar".toUpperCase() %></h4><br><br>
    <h4>Your random values is <%=    %></h4>
   
    
</body>
</html>