<%- include("include/head.ejs") %>
<body>
    <h1>Ludo_game</h1>
    <h2>Your dice values is <%= dice  %></h2>
    <% if(dice == 6){  %>
        <h3>Nice! you can roll dice again</h3>
    <% } %>
</body>
</html>