<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to user page</h1>
    <table border="1" >
        <tr>
          <th>ID</th>
          <th>Email</th>  
          <th>UserName</th>
          <th>Edit UserName</th>
        </tr>
        <%for(user of result){  %>
            <tr>
                <td> <%= user.id  %></td>
                <td> <%= user.email  %></td>
                <td> <%= user.username  %></td>
                <td>

                  <form method="GET" action="/user/<%= user.id %>/edit">
                    <button>Edit userName</button>
                  </form>
                </td>
              </tr>
              <% }  %>
      </table>
</body>
</html>


