<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>WelCome on newpage</H1>
    <H1><%= successMsg %></H1>
    <H1><%= errorMsg %></H1>
    <h1>Hello, <%= name %></h1>
</body>
</html> 



